.calendar
	table
		thead
			tr
				th(colspan=7)
					div
						span <<
						span {{model.activeMonth | date:'MMMM y'}}
						span >>			
		tbody
			tr(*ng-for="#row of model.rows")
				td(*ng-for="#entry of row", [class.notSameMonth]="entry.date.getMonth() !== model.activeMonth.getMonth()") {{entry.date | date:'dd'}}
